
    <div class="row">
        <div class="col s12">
            <div class="page-subtitle">
                <h4>Positions:</h4>
                <button 
                    class="waves-effect waves-light btn grey darken-1 btn-small"
                    (click)="onAddPosition()"
                >
                    Add new position
                </button>
            </div>

            <div *ngIf="!loading; else loader">
                <div class="collection" *ngIf="positions.length !== 0; else empty">
                    <a 
                        *ngFor="let position of positions"
                        class="collection-item collection-item-icon"
                        (click)="onSelectPosition(position)"
                    >
                        <span>
                            {{position.name}} <strong>{{position.cost}} $</strong>
                        </span>
                        <span>
                            <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
                        </span>
                    </a>
                </div>
                <ng-template #empty>
                    <div class="center">There is no positions yet</div>
                </ng-template>
            </div>
            <ng-template #loader>
                <app-loader>

                </app-loader>
            </ng-template>
            
        </div>
    </div>

<form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
>
    <div class="modal" #modal>
        <div class="modal-content">
            <h4 class="mb1">Add new position</h4>
            <div class="input-field">
                <input
                    formControlName="name"
                    id="pos-name"
                    type="text"
                    [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
                >
                <label for="pos-name">Name</label>
            </div>
            <span
                *ngIf="form.get('name').invalid && form.get('name').touched"
                class="helper-text red-text"
            >
                Required field
            </span>
            <div class="input-field">
                <input 
                    formControlName="cost"
                    [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}"
                    id="pos-cost" 
                    type="number"
                    min="0.1"
                >
                <label for="pos-cost">Price</label>
                <span
                    *ngIf="form.get('cost').invalid && form.get('cost').touched"
                    class="helper-text red-text"
                >
                    Price should be greater than 0
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button 
                type="button"
                class="modal-action waves-effect waves-black btn-flat"
                (click)="onCancel()"
                [disabled]="form.disabled"
            >
                Cancel</button>
            <button 
                type="submit"
                class="modal-action btn waves-effect"
                [disabled]="form.invalid || form.disabled"
            >
                Save
            </button>
        </div>
    </div>
</form>    